.main {
  text-align: center;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

* {
  animation: 1s ease ease;
}

h1 {
  color: blue;
}

.timeTaken {
  margin-top: 10px;
  text-align: center;
}

.timeTaken p {
  font-weight: 700;
}
